 *{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    font-weight: normal;
 }
 html{
    font-size: 62.5%;
    overflow: hidden;
 }
 body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(deeppink,purple);
    padding: 5.5rem;

 }
 section{
    padding: 1rem 7% ;
 }
 .btn{
    font-size: 2rem;
    padding: 2rem 2rem;
    background: rgba(255,255,255,.2);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;
    cursor: pointer;
    transition: all .2s linear;
 }
 .btn:hover{
    background: rgba(255,255,255,.5);

    color: #555;
 }
 header{
    height: 58rem;

    width: 35rem;
    background: rgb(255, 255, 255,.2);
    box-shadow: 0 1em 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
 }
 header .user{
    padding-top: 2rem;
    
 }
 header .user img{
    margin: 1rem 0;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgb(255, 255, 255,.2);

 }
 header .user .name{
    font-size: 3rem;
    color: #fff;
    padding: 2rem 0;
 }
 header .user .post{
    font-size: 1.8rem;
    color: #eee;
   font-weight: lighter;
 }
 header .navbar{
   padding:  1rem 3rem;
 }
 header .navbar ul li{
    margin: 1rem 0;

    list-style: none;
 }
 header .navbar ul li a{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    transition: all.2s linear;

 }
 header .navbar ul li a:hover{
    background: rgba(255,255,255,.5);
    color: #555;
    transition: none;

 }
 .container{
    height: 58rem;
    width: 80rem;
    background: rgb(255, 255, 255,.2);
    box-shadow: 0 1em 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
 
    border-radius: 1rem;
    overflow: hidden;

 }
 .Home{
    min-height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
 }
 .Home h3{
    font-size: 2.5rem;
    font-weight: lighter;
    color: #eee;
 }
 .Home .name span{
    font-size: 4rem;
    color: #fff;

 }
 .Home .post{
    padding: 1rem 0;
 }
 .Home .post span{
    font-size: 3rem;
    color: #fff;
    
 }
 .about{
    min-height: 100%;
 }
 .heading{
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: #fff;
 }
 .about .content h3{
    font-size: 2.5rem;
    color: #eee;

 }
 .about .content h3 span{
    color: #fff;
 }
 .about .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
 }
 .about .skills{
    padding: 1rem 0;
 }
 .about .skills .progress{
    margin: 1.5rem 0;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    background:rgba(255,255,255,.2);
    border-radius: 1rem;
 }
 .about .skills .progress h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #fff;
 }
 .about .skills .progress .bar{
    position: relative;
    width: 100%;
    height: .3rem;
    margin: 1rem 0;
    background: #555;
 }
 .about .skills .progress .bar span{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
 }
 .about .skills .progress:nth-child(1) .bar span{
    width: 95%;
 }
 .about .skills .progress:nth-child(2) .bar span{
    width: 55%;
 }
 .about .skills .progress:nth-child(3) .bar span{
    width: 75%;
 }
 .about .skills .progress:nth-child(4) .bar span{
    width: 55%;
 }
 .service{
    height: 100%;
 }
 .service .box-container{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 .service .box-container .box{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem rgba(0,0,0,.2);
    text-align: center;
    width: 32rem;
 }
 .service .box-container .box i{
     color: #fff;
     font-size: 4.5rem;
     padding:  1rem 0;
 }
 .service .box-container .box p{
    color: #eee;
    font-size: 1.3rem;
    padding:  .5rem 5rem;
}